<nav>
    <%= link_to homepage_path do %>
        Homepage
    <% end %>


    <%= link_to friends_path do %>
        My Friends
    <% end %>


    <%= link_to logout_path do %>
        Log Out
    <% end %>
</nav>